<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add User</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddUser" name="adduser" method="post" action="/adduser">
      <input
        id="inputUserName"
        type="text"
        placeholder="username"
        name="username"
      />
      <input
        id="inputUserEmail"
        type="text"
        placeholder="email"
        name="username"
      />
      <button id="btnSubmit" type="submit">Submit</button>
    </form>
  </body>
</html>
